@using TimeLine.Models;
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div id="page" class="site">
        <div id="content" class="site-content">
            <div class="content-block history">
                <div class="content-wrap small-wrap vert-spaced lined">
                    <div class="columns">
                        <div class="col third middled copy-col onScrollEnter">
                            <h3 class="chapter-headline">1919</h3>
                            <h3 class="chapter-bodyline">12.12</h3>
                            <p class="chapter-copy s-text top-spaced">我们的一生</p>
                        </div>
                        <!-- .col -->
                        <div class="col two-thirds middled ui-col rel onScrollEnter">
                            <div class="chapter-image img imgfill" style="background-image:url(@Url.Content("~/images/FOTO1.jpg"));"></div>
                            <div class="timeline-container circle-timelines">
                                <div class="fill-parent ui-timelines">
                                    <svg version="1.1" id="Layer_1" x="0px" y="0px"
                                         viewBox="0 0 600 600" style="enable-background:new 0 0 600 600;" xml:space="preserve">
                                        <circle fill="none" stroke="#000000" stroke-miterlimit="10" cx="300" cy="300" r="300" />
                                    </svg>
                                    <svg version="1.1" id="Layer_1" x="0px" y="0px"
                                         viewBox="0 0 600 600" style="enable-background:new 0 0 600 600;" xml:space="preserve">
                                        <circle fill="none" stroke="#000000" stroke-miterlimit="10" cx="300" cy="300" r="300" />
                                    </svg>
                                </div>
                                <!-- .ui-timelines -->
                                <div class="ui-chapters fill-parent">
                                    @{
                                        int current = 0;
                                        List<TimeLineModel> models = ViewBag.models as List<TimeLineModel>;
                                    }
                                    @foreach (var item in models)
                                    {
                                        if (current == 0)
                                        {
                                            <div class="ui-chapter current-chapter">
                                                <span class="chapter-point"></span>
                                                <span class="chapter-label">@item.TitleYear</span>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="ui-chapter">
                                                <span class="chapter-point"></span>
                                                <span class="chapter-label">@item.TitleYear</span>
                                            </div>
                                        }
                                    }                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @section scripts{
        <script type="text/javascript" src="~/Scripts/history.js"></script>
        <script type='text/javascript'>
            var jsonstr = "@ViewBag.json";
            var newjson = jsonstr.toString().replace(/\&quot;/g, "\"");//.replace(/\s/g,"")
            var _history_data = $.parseJSON(newjson);
        </script>
        <script type="text/javascript" src='~/Scripts/page_about.js'></script>
    }
