
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page" class="site">
    <div id="content" class="site-content">
        <div class="content-block history">
            <div class="content-wrap small-wrap vert-spaced lined">
                <div class="columns">
                    <div class="col third middled copy-col onScrollEnter">
                        <h3 class="chapter-headline">1919</h3>
                        <h5 class="chapter-headline2">12.12</h5>
                        <p class="chapter-copy s-text top-spaced">1919事件1919事件1919事件1919事件1919事件1919事件1919事件1919事件 </p>
                    </div>
                    <!-- .col -->
                    <div class="col two-thirds middled ui-col rel onScrollEnter">
                        <div class="chapter-image img imgfill" style="background-image:url(@Url.Content("~/images/images/FOTO1.jpg"));"></div>
                        <div class="timeline-container circle-timelines">
                            <div class="fill-parent ui-timelines">
                                <svg version="1.1" id="Layer_1" x="0px" y="0px"
                                     viewBox="0 0 600 600" style="enable-background:new 0 0 600 600;" xml:space="preserve">
                                <circle fill="none" stroke="#000000" stroke-miterlimit="10" cx="300" cy="300" r="300" />
                </svg>
                                <svg version="1.1" id="Layer_1" x="0px" y="0px"
                                     viewBox="0 0 600 600" style="enable-background:new 0 0 600 600;" xml:space="preserve">
                                <circle fill="none" stroke="#000000" stroke-miterlimit="10" cx="300" cy="300" r="300" />
                </svg>
                            </div>
                            <!-- .ui-timelines -->
                            <div class="ui-chapters fill-parent">
                                <div class="ui-chapter current-chapter"> <span class="chapter-point"></span> <span class="chapter-label">1919</span> </div>
                                <div class="ui-chapter"> <span class="chapter-point"></span> <span class="chapter-label">1940</span> </div>
                                <div class="ui-chapter"> <span class="chapter-point"></span> <span class="chapter-label">1942</span> </div>
                                <div class="ui-chapter"> <span class="chapter-point"></span> <span class="chapter-label">1962</span> </div>
                                <div class="ui-chapter"> <span class="chapter-point"></span> <span class="chapter-label">1963</span> </div>
                                <div class="ui-chapter"> <span class="chapter-point"></span> <span class="chapter-label">1965</span> </div>
                                <div class="ui-chapter"> <span class="chapter-point"></span> <span class="chapter-label">1977</span> </div>
                                <div class="ui-chapter"> <span class="chapter-point"></span> <span class="chapter-label">1992</span> </div>
                                <div class="ui-chapter"> <span class="chapter-point"></span> <span class="chapter-label">1997</span> </div>
                                <div class="ui-chapter"> <span class="chapter-point"></span> <span class="chapter-label">2002</span> </div>
                                <div class="ui-chapter"> <span class="chapter-point"></span> <span class="chapter-label">2006</span> </div>
                                <div class="ui-chapter"> <span class="chapter-point"></span> <span class="chapter-label">2007</span> </div>
                                <div class="ui-chapter"> <span class="chapter-point"></span> <span class="chapter-label">2009</span> </div>
                                <div class="ui-chapter"> <span class="chapter-point"></span> <span class="chapter-label">2012</span> </div>
                                <div class="ui-chapter"> <span class="chapter-point"></span> <span class="chapter-label">2013</span> </div>
                                <div class="ui-chapter"> <span class="chapter-point"></span> <span class="chapter-label">2014</span> </div>
                                <div class="ui-chapter"> <span class="chapter-point"></span> <span class="chapter-label">2015</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
<script type="text/javascript" src="~/Scripts/history.js"></script>
<script type='text/javascript'>
/* <![CDATA[ */


var _history_data = [
        { "title": "1919.12.12", "copy": "1919事件1919事件1919事件1919事件1919事件1919事件1919事件", "img": { "src": "images\/1963.jpg" } },
        { "title": "1940", "copy": "1940事1919事件1919事件1919事件1919事件1919事件1919事件1919事件1919事件1919事件1919事件1919事件件", "img": { "src": "images\/1963.jpg" } },
        {"title":"1942","copy":"1942事件","img":{"src":"images\/1963.jpg"}},
        {"title":"1962","copy":"1962事件","img":{"src":"images\/1963.jpg"}},
        {"title":"1963","copy":"1963事件","img":{"src":"images\/1963.jpg"}},
        { "title": "1965", "copy": "1965事件", "img": { "src": "images\/1963.jpg" } },
        { "title": "1977", "copy": "1997事件", "img": { "src": "images\/1963.jpg" } },
        { "title": "1992", "copy": "1992事件", "img": { "src": "images\/1963.jpg" } },
        { "title": "1997", "copy": "1997事件", "img": { "src": "images\/1963.jpg" } },
        { "title": "2002", "copy": "2002事件", "img": { "src": "images\/1963.jpg" } },
        { "title": "2006", "copy": "2006事件", "img": { "src": "images\/1963.jpg" } },
        { "title": "2007", "copy": "2007事件", "img": { "src": "images\/1963.jpg" } },
        { "title": "2009", "copy": "2009事件", "img": { "src": "images\/1963.jpg" } },
        { "title": "2012", "copy": "2012事件", "img": { "src": "images\/1963.jpg" } },
        { "title": "2013", "copy": "2013事件", "img": { "src": "images\/1963.jpg" } },
        { "title": "2014", "copy": "2014事件", "img": { "src": "images\/1963.jpg" } },
        { "title": "2015", "copy": "2015事件", "img": { "src": "images\/1963.jpg" } }];
    /* ]]> */
</script>
<script type="text/javascript" src='~/Scripts/page_about.js'></script>
}
