@model TimeLine.Models.TimeLineModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Scripts/layui/css/layui.css" />
    <link href="~/Scripts/layui/css/modules/layer/default/layer.css" rel="stylesheet" />
</head>
<body>

    <div class="layui-col-md8 layui-col-md-offset2" style="margin-top:50px">
        <fieldset class="layui-elem-field layui-field-title site-title">
            <legend><a name="nav-theme">创建历史快照</a></legend>
        </fieldset>
        <form class="layui-form" action="/Admin/Create" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label">快照年份</label>
                <div class="layui-input-block">
                    <input type="number" name="TitleYear" required min="1989" lay-verify="required" placeholder="请输入快照年份 如: 2012" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">快照月份</label>
                <div class="layui-input-block">
                    <input type="number" name="TitleMonth" required min="1" max="12" lay-verify="required" placeholder="请输入快照月份 如: 12" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">快照日期</label>
                <div class="layui-input-block">
                    <input type="number" name="TitleDay" required min="1" max="31" lay-verify="required" placeholder="请输入快照日期 如: 31" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">快照照片</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="Images" required lay-verify="required" placeholder="上传照片地址" autocomplete="off" class="layui-input col-md-10" id="img">
                </div>
            </div>
            <div class="layui-form-item col-md-4 col-md-offset-10">
                <div class="layui-input-block">
                    <button type="button" class="layui-btn" id="upld">
                        <i class="layui-icon">&#xe67c;</i>上传照片
                    </button>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">照片描述</label>
                <div class="layui-input-block">
                    <textarea name="Copy" placeholder="请输入照片描述" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">是否启用</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="IsDeleted" lay-skin="switch">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo" id="submitBtn">提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>

    <div id="particles-js"></div>
    <link href="~/Content/particlesjs.css" rel="stylesheet" />
    <script type="text/javascript" data-main="./Scripts/layui/app" src="~/Scripts/require.js"></script>
    <script src="~/Scripts/lib/particles.min.js"></script>
    <script src="~/Scripts/lib/particlesJS.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <script type="text/javascript">

        layui.use('upload', function () {
            var upld = layui.upload;
            var uploadInst = upld.render({
                elem: '#upld', //绑定元素
                loading: true,
                url: '/Admin/UploadImage',//上传接口
                done: function (res, index, upload) {
                    //上传完毕回调
                    $("#img").val(res.Data);
                },
                accept: 'jpg|png|gif|bmp|jpeg',
                size: 500,
                error: function (err) {
                    //请求异常回调
                }
            });
        })
    </script>
</body>
</html>
