@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Scripts/layui/css/modules/layer/default/layer.css" rel="stylesheet" />
    <style type="text/css">img{margin:0;padding:0}</style>
    <title>快照列表</title>
</head>
<body>
    <div id="particles-js"></div>
    <div style="width:95%;margin:20px auto">
        <a href="/Admin/Index" class="layui-btn" >创建快照</a>
        <table id="dataTable" lay-filter="dataTb"></table>
        <script src="~/Scripts/layui/layui.js"></script>
        <script src="~/Scripts/lib/datefmt.js"></script>
        <link href="~/Content/particlesjs.css" rel="stylesheet" />
        <script src="~/Scripts/lib/particles.min.js"></script>
        <script src="~/Scripts/lib/particlesJS.js"></script>
        <script src="~/Scripts/require.js" data-main="/Scripts/app"></script>
        <link href="~/Scripts/layui/css/modules/layer/default/layer.css" rel="stylesheet" />
        <script type="text/html" id="toolbar">
            <a class="layui-btn layui-btn layui-btn-xs" lay-event="detail">查看图像</a>
            <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>

            <!-- 这里同样支持 laytpl 语法，如： -->
            {{#  if(d.Id > 2){ }}
            @*<a class="layui-btn layui-btn-xs" lay-event="check">查看图像 data-main="./Scripts/app"  </a>*@
            {{#  } }}
        </script>
    </div>
</body>
</html>
